{% extends './base.html' %}


{% block title %} Conózcanos {% endblock %}


{% block container %}

<div class="fondo">
	<div class="form-container">
		<div class="main-title">
			<h1 class="title"> Conózcanos </h1>
			</div>

			<div class="" style="width: 10%; float:left ">

				<div class="menuizquierda_contactenos">

					<div>
						<br>
						<br>
						<br>

						<img src="{{ '/static/images/mision.png' }}" width="150px" alt="">
					</div>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					
					
					<div>
						<img src="{{ '/static/images/vision.png' }}" width="190px" alt="">
					</div>
				</div>
			</div>

			<br>
			<br>


			<div style="width: 70%; float:right; margin:5px">
				<div class="register">
					<div class="conozcanos-container-2">
						<div >
							<h1 class="title" style="color: var(--blue-color-2);">MISIÓN</h1>
		
							<p class="conozcanos">
								Contribuir al cuidado de la vida y la recuperación de la salud, a través de la prestación de
								servicios de alta complejidad, centrados en la persona, con un equipo humano cálido y calificado
								para alcanzar desenlaces clínicos superiores, promover el cuidado del medio ambiente, la
								sostenibilidad económica y la permanencia en el tiempo.
							</p>
							<br>
							<br>

		
		
							<h1 class="title" style="color: var(--blue-color-2);">VISIÓN</h1>
		
							<p class="conozcanos">
		
								Para el año 2025 la Clínica General Del Norte será reconocida por el desarrollo de centros de
								cuidado clínico con enfoque de atención basada en valor, consolidándose como una institución con
								estándares superiores de calidad, innovación y desarrollo tecnológico y como un gran lugar para
								trabajar.
		
							</p>
		
						</div>

					</div>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}