{% extends './base.html' %}


{% block title %} CONTACTENOS{% endblock %}


{% block container %}

<div class="fondo">
	<div class="form-container">
		<div class="main-title">
			<h1 class="title"> Contáctenos </h1>
			</div>

			<div class="" style="width: 10%; float:left ">

				<div class="menuizquierda_contactenos">

					<div>
						<p><strong>Dirección:</strong> Calle 70 #12-3 Barranquilla, Colombia</p>
						<br>
						<p> <strong>PBX: </strong> 57(605)309768638</p>
						<br>
						<p><strong>Oficina Administrativa: </strong> 11215</p>
						<br>
						<p> <strong>Atención al usuario: </strong> 1234</p>
					</div>
				</div>
			</div>

			<br>
			<br>


			<div style="width: 60%; float:right; margin:0px">
				<div class="register">
					<div class="">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.5812119705733!2d-74.8051541857115!3d10.994949458129838!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42d74a16e305f%3A0xabe031988ae168d3!2sClinica%20General%20del%20Norte!5e0!3m2!1ses!2sco!4v1633554565279!5m2!1ses!2sco"
							width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

						<br>

					</div>

					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}