{% extends './base.html' %}


{% block title %} Crear Cita Nueva {% endblock %}


{% block container %}

<div class="login">
    <div class="form-container-cita-nueva">
        <div class="main-title">
            <h1 style="text-align: center;">Crear Cita Nueva</h1>
        </div>
        <div class="history-container">

            <form action="/crearcitas" class="form" method="post">

                {{ frm.hidden_tag() }}

                <p>
                    {{ frm. fecha.label }}
                    {{ frm. fecha }}
                    {% for error in frm. fecha.errors %}
                <div>
                    {{ error }}
                </div>
                {% endfor %}
                </p>

                <p>
                    {{ frm.direccion.label }}
                    {{ frm.direccion }}
                    {% for error in frm.direccion.errors %}
                <div>
                    {{ error }}
                </div>
                {% endfor %}
                </p>

                {{ frm.crear }}

            </form>
            <br><br>
            <p  class="mensajesV" style="align-content: center;"><strong> {{ mensaje }} </strong></p>
        </div>
        <br>
        <br>
        <table class="tablalistadocita">

            <thead>
                <tr>
                    <th class="cabeceratabla">
                        <h2 class="letracabecetabla">Fecha</h2>
                    </th>

                    <th class="cabeceratabla">
                        <h2 class="letracabecetabla">Dirección </h2>
                    </th>

                    <th class="cabeceratabla">
                        <h2 class="letracabecetabla">Eliminar </h2>
                    </th>

                </tr>
            </thead>

            <tbody>

                {% for cita in rows %}
                <tr>
                    <td>{{ cita["fecha"] }}</td>
                    <td>{{ cita["direccion"] }}</td>
                    <td><a href="/eliminarcita/{{ cita['id_cita'] }}">Eliminar cita</a></td>
                </tr>
                {% endfor %}

            </tbody>

        </table>
        <br>
        <br>
        <br>

        <a href="{{ '/perfil_usuario_medico' }}"><input type="submit" value="Atrás" class="btn_back_nueva_cita"
                style="width: 100px;"></a>
    </div>
</div>
{% endblock %}