{% extends './base.html' %}


{% block title %} Gestión de Usuarios {% endblock %}


{% block container %}

<div class="fondo">
	<div class="form-container">
		<div class="titulo_perfil_usuario">
			<h1>Gestión de Usuarios</h1>
		</div>
		<p style="align-content: center;">{{ mensaje }}</p>
		<div class="form-containerAdmin" style="text-align: center;">
			<table class="tablacitasprogramadas">
				<thead>
					<tr>
						<th class="cabeceratabla">
							<h2 class="letracabecetabla" style="font-size: 13px;">NUMERO DE DOCUMENTO</h2>
						</th>
						<th class="cabeceratabla">
							<h2 class="letracabecetabla" style="font-size: 13px;">NOMBRE</h2>
						</th>
						<th class="cabeceratabla">
							<h2 class="letracabecetabla" style="font-size: 13px;">TIPO DE USUARIO</h2>
						</th>
						
						<th class="cabeceratabla">
							<h2 class="letracabecetabla" style="font-size: 13px;">ELIMINAR</h2>
						</th>
					</tr>

				</thead>

				<tbody>
					{% for usu in rows %}
					<tr>
						<td>{{ usu["numerodocumento"] }}</td>
						<td>{{ usu["nombre"] }}</td>
						<td>{{ usu["tipousuario"] }}</td>
						
						<td><a href="/gestionar_usuarios_admin_borrar/{{ usu['id_usuario'] }}">Eliminar</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<a href="{{ '/perfil_admin' }}"><input type="submit" value="Atras" class="btn_perfiladmin " 
					style="width: 100px;"></a>
			<a href="{{ '/registropaciente' }}"><input type="submit" value="Registrar Paciente" class="btn_perfiladmin"
					style="width: 200px;"></a>
			<a href="{{ '/registromedico' }}"><input type="submit" value="Registrar Medico" class="btn_perfiladmin"
					style="width: 170px;"></a>
			<a href="{{ '/registroadmin' }}"><input type="submit" value="Registrar Administrador"
					class="btn_perfiladmin" style="width: 220px;"></a>
		</div>
	</div>
	<br>
	<br>
</div>
{% endblock %}